<template>
  <fieldset>
    <TextInputFloatingLabel for="api_key" :text="t('api_key_label')">
      <input
          type="text"
          id="api_key"
          name="apiKey"
          :placeholder="t('api_key_placeholder')"
          :value="currentSettings.apiKey"
      />
    </TextInputFloatingLabel>
    <p>
      {{ t("register_link_text") }}
      <a href="https://creativecommons.tankerkoenig.de/#register"
      >tankerkoenig.de</a
      >
    </p>

    <fieldset>
      <legend>
        <h5>
          Standort
        </h5>
        <a :href="$options.converterUrl" target="_blank">{{ t("convert_link_text") }}</a>
      </legend>
      <div class="fp-twoup">
        <TextInputFloatingLabel for="lat" :text="t('lat_label')">
          <input
              type="text"
              id="lat"
              name="lat"
              min="1"
              max="25"
              placeholder="47.55959860000001"
              :value="currentSettings.lat"
          />
        </TextInputFloatingLabel>

        <TextInputFloatingLabel for="lng" :text="t('lng_label')">
          <input
              type="text"
              id="lng"
              name="lng"
              min="1"
              max="25"
              placeholder="7.588576099999955"
              :value="currentSettings.lng"
          />
        </TextInputFloatingLabel>
      </div>
    </fieldset>

    <label for="type">{{ t("fuel_type_label") }}</label>
    <select id="type" name="type">
      <option value="" disabled>
        {{ t("fuel_type_label") }}
      </option>
      <option
          v-for="(display, key) in $options.fuelTypes"
          :key="key"
          :value="key"
          :selected="currentSettings.type === key"
      >{{ t(display) }}
      </option
      >
    </select>

    <TextInputFloatingLabel for="radius" :text="t('search_radius_label')">
      <input
          type="number"
          id="radius"
          name="radius"
          min="1"
          max="25"
          placeholder="5"
          :value="currentSettings.radius"
      />
    </TextInputFloatingLabel>

    <label for="sort">
      {{ t("sort_order_label") }}
    </label>
    <select id="sort" name="sort">
      <option disabled>
        {{ t("sort_order_label") }}
      </option>
      <option
          v-for="(display, key) in $options.sortOrders"
          :key="key"
          :value="key"
          :selected="currentSettings.sort === key"
      >{{ t(display) }}
      </option
      >
    </select>

    <CheckboxBorderedLabel
        for="showLastRefresh"
        :text="t('show_refresh_label')"
    >
      <input
          type="checkbox"
          name="showLastRefresh"
          id="showLastRefresh"
          :checked="currentSettings.showLastRefresh"
      />
    </CheckboxBorderedLabel>
  </fieldset>
</template>

<script>
module.exports = {
  name: "fuel_prices",
  props: {
    currentSettings: {
      type: Object,
      required: true,
    }
  },
  fuelTypes: {
    e5: "Super E5",
    e10: "Super E10",
    diesel: "Diesel"
  },
  sortOrders: {
    price: "Price",
    dist: "Distance"
  },
  converterUrl: "https://www.gps-coordinates.net/gps-coordinates-converter",
  locales: {
    enGb: {
      api_key_label: "Enter your tankerkoenig.de API key",
      api_key_placeholder: "your API key",
      register_link_text: "Register at",
      lat_label: "Latitude (LAT)",
      lng_label: "Longitude (LNG)",
      fuel_type_label: "Choose fuel type",
      search_radius_label: "Set search radius (km)",
      sort_order_label: "Choose sort order",
      Price: "Price",
      Distance: "Distance",
      convert_link_text: "convert address to coordinates",
      show_refresh_label: "Show when prices were last refreshed"
    },
    deDe: {
      api_key_label: "Gib deinen API-Key von tankerkoenig.de ein",
      api_key_placeholder: "Dein API-Key",
      register_link_text: "Anmelden auf",
      lat_label: "Breitengrad (LAT)",
      lng_label: "Längengrad (LNG)",
      fuel_type_label: "Kraftstoff-Typ wählen",
      search_radius_label: "Suchradius einstellen (km)",
      sort_order_label: "Sortier-Reihenfolge wählen",
      Price: "Preis",
      Distance: "Entfernung",
      convert_link_text: "Adresse zu Koordinaten umwandeln",
      show_refresh_label: "Zeige wann die Preise zuletzt aktualisiert wurden"
    },
    frFr: {
      api_key_label: "Entrez votre clé API sur tankerkoenig.de",
      api_key_placeholder: "Votre clé API",
      register_link_text: "Inscrivez-vous à",
      lat_label: "Latitude (LAT)",
      lng_label: "Longitude (LNG)",
      fuel_type_label: "Sélectionner le type de carburant",
      search_radius_label: "Définir le rayon de recherche (km)",
      sort_order_label: "Sélectionner l'ordre de tri",
      Price: "Prix",
      Distance: "Destitution",
      convert_link_text: "Convertir l'adresse en coordonnées",
      show_refresh_label: "Afficher quand les prix ont été actualisés"
    },
    esEs: {
      api_key_label: "Introduzca su clave API de tankerkoenig.de",
      api_key_placeholder: "Su API-Key",
      register_link_text: "Registrarse en",
      lat_label: "Latitud (LAT)",
      lng_label: "Longitud (LNG)",
      fuel_type_label: "Seleccione el tipo de combustible",
      search_radius_label: "Définir le rayon de recherche (km)",
      sort_order_label: "Seleccione el orden de clasificación",
      Price: "Precio",
      Distance: "Entfernung",
      convert_link_text: "Convertir dirección a coordenadas",
      show_refresh_label:
          "Mostrar cuándo se actualizaron los precios por última vez"
    },
    plPl: {
      api_key_label: "Wprowadź swój klucz API z tankerkoenig.de.",
      api_key_placeholder: "Twój klucz API",
      register_link_text: "Zarejestruj się w",
      lat_label: "szerokość (LAT)",
      lng_label: "długość geograficzna (LNG)",
      fuel_type_label: "Wybrać rodzaj paliwa",
      search_radius_label: "Ustaw promień wyszukiwania (km)",
      sort_order_label: "Wybierz kolejność sortowania",
      Price: "Cena",
      Distance: "Usunięcie",
      convert_link_text: "Przekształć adres na współrzędne",
      show_refresh_label: "Pokaż, kiedy ceny były ostatnio odświeżane"
    },
    koKr: {
      api_key_label: "귀하의 tankerkoenig.de API 키를 입력하십시오.",
      api_key_placeholder: "귀하의 API 키",
      register_link_text: "에 등록",
      lat_label: "위도 (LAT)",
      lng_label: "경도 (LNG)",
      fuel_type_label: "연료 유형 선택",
      search_radius_label: "검색 반경 설정 (km)",
      sort_order_label: "정렬 순서 선택",
      Price: "가격",
      Distance: "거리",
      convert_link_text: "주소를 좌표로 변환하다",
      show_refresh_label: "가격이 마지막으로 새로 고침 된 시간 표시"
    }
  }
};
</script>
<style>
.fp-twoup {
  display: flex;
  justify-content: space-between;
}

.fp-twoup > * {
  width: 47.5%;
}
</style>
